<%= form_for(doctor, html: { multipart: true }) do |f| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
<form>
  <br>
  <div class="form-group row">
    <%= f.label :firstname, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :firstname, class: 'form-control', placeholder:'Enter Firstname' %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :lastname, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :lastname, class: 'form-control', placeholder:'Enter Lastname' %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :phone, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :phone, class: 'form-control', placeholder:'Enter Phone' %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :address, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :address, class: 'form-control', placeholder:'Enter Address' %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :consultation, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :consultation, class: 'form-control', placeholder:'Enter consultation fee' %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :user_id, class: 'col-sm-2 form-control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  </div>
  <br>
  <h2>Upload Photo</h2>
    <br>
  <label type="file" id="pictureInput">
    <%= f.file_field :poster%>
  <span class="file-custom"></span>
  </label>
  <div id="target">
  </div>
  <br>
  <br>
  <br>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= link_to 'Back', doctors_path,  class: 'btn btn-success-outline align' %>
      <%= link_to 'View', @doctor, class: 'btn btn-success align' %>
      <%= f.submit 'Submit', class: 'btn btn-primary align' %>
    </div>
  </div>
</form>
</div>
<% end %>
